# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDES
.idea/
.vscode/

# Project Specific
*.mp4
*.avi
*.mkv
*.pth
rf-detr-medium.pth
output/
runs/

# Data & Logs
captures/
traffic_data.db

# Local specific
videos/
static/
_backup/